extends layout

block content
  <a href="https://github.com/drunkhacker/athenasia"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png" alt="Fork me on GitHub"></a>
  div.container_12
    div.grid_5.athena
    div.grid_7
      h1.title #{title}
      p.subtitle — Just does the most simple thing easily —
      p.description Athenasia is a sort of thing that helps you take your time to concentrate on reading what you read now and finally helps you to find that you are now totally blowing away your time for reading this line which says nothing but its uselessness by extent of its nature.
      
      div.usage
        p > whoami <br /> drh 
        p > athenasia <br /> -bash: athenasia: command not found 
        p > athenasia -p 9100 -n 12 <br /> ...<br/>(omitted)<br/>...<br />are you seriously<br/> looking these things?(Y/N) y
        p.label usage

  div.container_12
    footer.container_11.push_1
      div.grid_5 
        <div class="fb-like" data-href="http://athen.asia" data-send="true" data-width="300" data-show-faces="true" data-font="arial"></div>
      div.grid_6
        p.commitinfo last updated @ #{date}<br />(rev. #{commit})
        p(style="text-align:right;") Drunkhacker. 2012.