doctype 5
html
  head
    title= title
    meta(property="og:image", content="http://athen.asia/images/og_image.jpg")
    meta(property="og:title", content="Athenasia")
    meta(property="og:url", content="http://athen.asia")
    meta(property="og:description", content="What are you 'really' doing now?")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/960_12_col.css')
    
  body
    block content