body {
  padding-bottom: 20px;
  color: #444;
  font: 14px Times, Georgia, serif;
  background-image: url("/images/extra_clean_paper.png");
}
.title {
  text-transform: uppercase;
  font-size: 40pt;
  color: #d3d3d3;
  text-shadow: -1px -1px #808080, 1px 1px #fff;
}
.title:first-letter {
  font-size: 60pt;
}
.subtitle {
  font-size: 15pt;
  font-style: italic;
}
.description {
  font-size: 13pt;
}
a {
  color: #00b7ff;
}
.grid_5.athena {
  height: 540px;
  background: url("/images/athena.png") 10px 50px no-repeat, url("/images/athena_fill.png") 0 50px no-repeat, url("/images/athena_white.png") -10px 50px no-repeat;
}
.usage {
  font-size: 10pt;
  font-family: Monaco, "Lucida Console";
  padding: 5px;
  padding-left: 10px;
  border-radius: 10px;
  background-color: rgba(0,0,0,0.85);
  color: #008000;
  position: relative;
}
.usage .label {
  position: absolute;
  top: 0px;
  right: 10px;
  color: #bbb;
  border-radius: 5px;
  padding: 3px 30px 3px 30px;
  background-color: #333;
}
footer {
  font-style: italic;
  font-size: 12pt;
  padding-left: 120px;
}
